body{
    margin: 0px ;
    padding: 20px;
    background-color: bisque;
}
.nav{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}
.home{
    display: flex;
    gap: 40px;
}
.box{
    
    background-color: bisque;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.imag{
    height: 80px;
}

.block {
    
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 70px;
  
    
}